%div{ :id => "nucleus" }
%div{ :id => "item-clone"}

%div{ :id => "holder" }
  %div{ :id => "projects-holder" }
    %div{ :class => "project-item create-new" }
      %span{ :class => "title" }
        Create New
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 1
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 2
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 3
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 4
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 5
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 6
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 7
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 8
    %div{ :class => "project-item" }
      %span{ :class => "title" }
        Project 9
